[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mokani
[access "refs/for/refs/*"]
	read = group user/mokani
	push = group user/mokani
	label-Code-Review = -2..+2 group user/mokani
	label-Verified = -1..+1 group user/mokani
	rebase = group user/mokani
	removeReviewer = group user/mokani
	submit = group user/mokani
[access "refs/heads/*"]
	read = group user/mokani
	create = group user/mokani
	push = +force group user/mokani
	pushMerge = group user/mokani
[access "refs/tags/*"]
	push = +force group user/mokani
	pushTag = group user/mokani
	pushSignedTag = group user/mokani
[receive]
	requireChangeId = false
