[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dharmesh Mokani (mokani)
[access "refs/for/refs/*"]
	read = group user/Dharmesh Mokani (mokani)
	push = group user/Dharmesh Mokani (mokani)
	label-Code-Review = -2..+2 group user/Dharmesh Mokani (mokani)
	label-Verified = -1..+1 group user/Dharmesh Mokani (mokani)
	rebase = group user/Dharmesh Mokani (mokani)
	removeReviewer = group user/Dharmesh Mokani (mokani)
	submit = group user/Dharmesh Mokani (mokani)
[access "refs/heads/*"]
	read = group user/Dharmesh Mokani (mokani)
	create = group user/Dharmesh Mokani (mokani)
	push = +force group user/Dharmesh Mokani (mokani)
	pushMerge = group user/Dharmesh Mokani (mokani)
	submit = group user/Dharmesh Mokani (mokani)
[access "refs/tags/*"]
	push = +force group user/Dharmesh Mokani (mokani)
	pushTag = group user/Dharmesh Mokani (mokani)
	pushSignedTag = group user/Dharmesh Mokani (mokani)
	submit = group user/Dharmesh Mokani (mokani)
[receive]
	requireChangeId = false
